<?xml version="1.0" encoding="utf-8"?><!--
  ~ /**
  ~  * Created by Ali YÜCE on 3/2/20 11:18 PM
  ~  * https://github.com/mayuce/
  ~  * Copyright (c) 2020 . All rights reserved.
  ~  * Last modified 3/2/20 11:17 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.labters.documentscannerandroid">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>
